<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lianlian.app.photopicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name=".ui.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/title_photo_picker"
            />
    </application>
</manifest>
